*.pyc
*~
build/
.pytest_cache/
dist/
.cache/
.idea
.DS_Store
doc/.DS_Store
*.egg-info/
doc/api/
doc/.build/*
doc/_build/*
tutorials/.ipynb_checkpoints
.cache
*__pycache__*
.vs
.vscode
*.pyproj
*.user
*.sln
*.bak
*.orig
*.ini
estudos/*
!estudos/.keep